.room-list-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 1%;
}

.room-list-item:hover {
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
}

.room-list-item-image {
  height: 100% !important;
  width: 40%;
}

.card-room-list-item-content {
  width: 100%;
  padding-top: 1%;
  padding-left: 2%;
}

.card-room-list-item-title {
  font-size: 20px;
  font-weight: bold;
}

.card-room-list-item-room-type {
  margin-left: 4%;
}

.card-room-list-item-room-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.popular-badge {
  margin-left: 6%;
  font-size: 12px;
  padding-left: 4%;
  padding-right: 4%;
  background-color: var(--dark-gray);
  color: var(--white);
}

.card-room-list-item-room-prices {
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.card-room-list-item-room-price {
  font-size: 26px;
  font-weight: 900;
}

.card-room-list-item-room-price-out {
  font-size: 24px;
  font-weight: 400;
  color: var(--darker-gray);
  text-decoration: line-through;
}

.card-room-list-item-room-promotional-price {
  font-size: 26px;
  font-weight: 900;
  padding-top: 2%;
}

.card-room-list-item-room-actions {
  padding-top: 10%;
  justify-content: center;
  align-items: center;
}

.btn-details {
  background-color: var(--primary);
  color: var(--white);
  width: 80%;
}

.card-room-list-item-room-free-cancelation {
  padding-top: 4%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.free-cancelation-text {
  margin-left: 2%;
  font-weight: bold;
  font-size: 14px;
}

.card-room-list-item-aditional {
  padding-top: 14%;
}

.card-room-list-item-is-center {
  align-items: center;
}

.icon-detail {
  color: var(--dark-gray);
}

.detail-text {
  padding-left: 4%;
  font-size: 16px;
  color: var(--darker-gray);
}

.detail-divider {
  width: 80%;
  align-self: center;
}

.card-room-list-item-evaluations {
  padding-top: 10%;
}
