<!-- <div class="card border-0 shadow mb-4 border-radius-0 card-container cursor-pointer">
  <div class="image-container">
    <img
      class="card-img-top card-image-room border-radius-0"
      src="{{ room.photos[0].src }}"
      alt="Imagem principal da acomodação"
    />
  </div>
  <div class="card-body card-body-room cursor-pointer">
    <div class="stars-container">
        <app-stars-rating [stars]="room.stars"></app-stars-rating>
        <span class="sub-heading-sub-title">({{room.evaluations}})</span>
    </div>
    <div class="identification-container">
      <span class="sub-heading-title">{{ room.name }}</span>
      <span class="sub-heading-sub-title">{{ room.location }}</span>
    </div>
    <div class="price-container">
      <span
        [ngClass]="{
          'card-room-list-item-room-price-out': room.promotionalPrice !== 0
        }"
      >
        {{ room.price | currency: "BRL" }} por noite
      </span>
      <span *ngIf="room.promotionalPrice !== 0">
        {{ room.promotionalPrice | currency: "BRL" }} por noite
      </span>
    </div>
  </div>
  <div class="ratings-container">
    <app-rating [rating]="room.rating" [showDescription]="true"></app-rating>
  </div>
</div> -->

<div class="card room-list-item shadow">
  <img class="room-image-xs d-none" src="{{ room.photos[0].src }}" />
  <div class="card-room-list-item-content">
    <img class="room-image img-fluid d-none d-md-block" src="{{ room.photos[0].src }}" />
    <div class="row p-4 w-100">
      <div class="col-lg-6">
        <div class="card-room-list-item-title">{{ room.name }}</div>
        <div class="card-room-list-item-room-header">
          <app-stars-rating [stars]="room.stars"></app-stars-rating>
          <span class="card-room-list-item-room-type">{{ room.type }}</span>
          <span *ngIf="room.isPopular" class="popular-badge">Popular</span>
        </div>
        <div class="card-room-list-item-room-prices">
          <h3
            [ngClass]="{
              'card-room-list-item-room-price-out': room.promotionalPrice !== 0
            }"
            class="card-room-list-item-room-price"
          >
            {{ room.price | currency: "BRL" }}
          </h3>
          <h3
            *ngIf="room.promotionalPrice !== 0"
            class="card-room-list-item-room-promotional-price"
          >
            {{ room.promotionalPrice | currency: "BRL" }}
          </h3>
        </div>
        <div class="card-room-list-item-room-actions">
          <button (click)="moveToDetails(room.id)" class="btn btn-details">Ver detalhes</button>
        </div>
        <div
          *ngIf="room.details.haveFreeCancelation"
          class="card-room-list-item-room-free-cancelation"
        >
          <i class="fas fa-check"></i>
          <span class="free-cancelation-text">Cancelamento gratuito</span>
        </div>
      </div>
      <div class="col-lg-6 d-none d-lg-block">
        <div class="card-room-list-item-aditional">
          <div class="card-room-list-item-is-center">
            <i class="fas fa-map-marker-alt icon-detail"></i>
            <span *ngIf="room.details.isInCenter" class="detail-text">
              Localizado no centro
            </span>
            <span *ngIf="!room.details.isInCenter" class="detail-text">
              {{ room.details.distanceToCenterKM }} km até o centro da cidade
            </span>
          </div>
          <hr class="detail-divider" />
          <div
            *ngIf="room.details.haveWiFi"
            class="card-room-list-item-have-wifi"
          >
            <i class="fas fa-wifi icon-detail"></i>
            <span class="detail-text"> Wi-fi Grátis </span>
          </div>
          <hr class="detail-divider" />
          <div
            *ngIf="room.details.haveFreeBreakfast"
            class="card-room-list-item-have-breakfast"
          >
            <i class="fas fa-utensils icon-detail"></i>
            <span class="detail-text"> Café da manhã grátis </span>
          </div>
        </div>
        <div class="card-room-list-item-evaluations">
          <app-rating [rating]="room.rating" [showDescription]="true"></app-rating>
        </div>
      </div>
    </div>
  </div>
</div>
