<div class="room-list-filter-container pt-3 d-none d-md-block">
    <div class="row">
      <div class="col">
        <div class="card border-0 shadow">
          <div class="card-body">
            <app-price-filter (priceChangedEmitter)="collectionWasFiltered($event)" [rooms]="rooms"></app-price-filter>
            <hr class="filter-divider"/>
            <app-room-details-filter (detailChangedEmitter)="collectionWasFiltered($event)" [rooms]="rooms"></app-room-details-filter>
            <hr class="filter-divider"/>
            <app-room-features-filter [rooms]="rooms"></app-room-features-filter>
          </div>
        </div>
      </div>
    </div>
</div>
