.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  bottom: 0;
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.footer-license {
  padding-left: 4%;
  margin-right: auto;
  color: var(--darker-gray);
  font-size: 12px;
}

.footer-logo {
  padding-right: 4%;
  padding-left: 4%;
}

@media (max-width: 600px) {
  .footer-logo {
    padding-top: 4%;
    padding-left: 4%;
  }
}
