<div class="check-in-container dropdown">
  <span id="dropdownMenuButton" class="check-in-dates-span" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fas fa-calendar-alt"></i>
    <span class="check-in-dates-text">Check-in - Check-out</span>
  </span>
  <div class="dropdown-menu dropdown-check-in" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>
