.check-in-container {
  height: 40px;
  border: 0;
  display: flex;
  align-items: center;
}

.dropdown-check-in {
  width: 100%;
  margin-top: 2%;
}

.check-in-dates-span {
  cursor: pointer;
  padding-left: 6%;
  width: 300%;
}

.check-in-dates-text {
  margin-left: 4%;
  font-weight: bold;
}
