<app-navbar></app-navbar>
<div class="next-trip-container shadow-sm">
  <div class="container next-trip">
    <h1 class="next-trip-title">Qual será sua próxima viagem?</h1>
    <span class="next-trip-subtitle">Encontre nossos quartos e hóteis por toda região sul!</span>

    <div class="row next-trip-search">
      <div class="col-md-4">
        <app-city-select></app-city-select>
      </div>
      <div class="col-md-4">
        <app-check-in-dates></app-check-in-dates>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-primary btn-next-trip-search">Pesquisar</button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
