.next-trip-container {
  background-color: var(--primary);
  width: 100%;
}

.next-trip-search {
  background-color: var(--white);
  padding-bottom: 1%;
  margin-top: 2%;
}

.headings {
  padding-left: 0;
}

.next-trip {
  padding-top: 2%;
  padding-bottom: 4%;
}

.next-trip-subtitle {
  color: var(--darker-gray);
}

.next-trip-search {
  padding: 0;
}

.btn-next-trip-container {
  padding: 0;
}

.btn-next-trip-search {
  width: 100%;
  background-color: var(--accent) !important;
  color: var(--white) !important;
  border-radius: 0;
  padding: 0;
  height: 100%;
}

.btn-next-trip-search:hover {
  width: 100%;
  background-color: #fc9724 !important;
  color: var(--white) !important;
}

.btn-next-trip-search:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -moz-transition: none;
  -webkit-transition: none;
}

.cities-list-container {
  padding-top: 4%;
  padding-bottom: 2%;
  width: 100%;
  background-color: var(--white);
}

.city-select-initial-container {
  padding-top: 1%;
  padding-bottom: 1%;
}

.check-in-dates-initial-container {
  padding-top: 1%;
  padding-bottom: 1%;
}

.about-container{
  padding-top: 10%;
  padding-bottom: 10%;
  background-color: var(--white)
}

.diferential-container{
  display: flex;
  flex-direction: column;
}

@media (max-width: 600px) {
  .city-select-initial-container {
    padding-bottom: 2%;
  }

  .check-in-dates-initial-container {
    padding-bottom: 2%;
  }

  .headings {
    padding-left: 2%;
  }

  .text-after-next-trip {
    width: 100%!important;
    padding-left: 2%;
  }

  .btn-next-trip-search{
    height: 55px;
  }
}
