.price-filter-container {
    display: flex;
    flex-direction: column;
}

.prices-text {
    font-weight: 900;
    text-align: center;
    font-size: 14px;
    color: var(--darker-gray);
    padding-bottom: 4%;
    padding-top: 4%;
}

.noUi-target {
    margin-top: 2%;
    margin-bottom: 6%;
    padding-left: 4%;
    padding-right: 4%;
}
