.cities-list-items {
  padding-top: 1%;
}

.cities-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cities-list-item {
  cursor: pointer;
  padding-bottom: 2%;
}

.city-card {
  border: 0;
  width: 18rem;
}

.card-body-city {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  padding-top: 4%;
  padding-bottom: 6%;
}

.city-image {
  border-radius: 12px;
}

.card-body-city-ratings{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-body-city-ratings-stars-evaluations{
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 600px) {
  .cities-list {
    justify-content: center;
    align-items: center;
    padding-top: 4%;
    padding-bottom: 4%;
  }

  .city-card {
    width: 100% !important;
  }
}
