.room-container{
  background-color: var(--white);
  width: 100%;
  min-height: 100vh;
  padding-left: 10%;
  padding-right: 10%;
}

.list-and-filter-container{
  display: flex;
  flex-direction: row;
}

@media (max-width: 600px) {
  .room-row {
    padding-right: 4%;
    padding-left: 4%;
  }
}
